.request-type {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-decoration: underline;
  /* identical to box height */

  color: #3a3939;
  cursor: pointer;
}
