.request-header {
}

.header-container {
  display: flex;
  gap: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 758px; */
  flex-grow: 4;
  height: 85px;

  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.03);
  border-radius: 11px;
}

.header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #181818;
}

.user-details {
  padding: 12px 20px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  /* gap: ; */
  /* width: 273px; */
  height: 85px;

  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.03);
  border-radius: 11px;
}

.user-details-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}

.user-details-number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}

.user-details-col1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.user-details-img {
  width: 50px;
  height: 50px;
  background-color: red;
}
